
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatting app</title>
    <link rel="stylesheet" href="login/style.css">
      
</head>
<body>
    <div class="center">
        <div id="error" style="color:red;padding:10px;margin-bottom:-30px"></div>
        <h1>Login</h1>
        <form method="post" id="login-form" >
          <div class="txt_field">
            <input type="email" name="email" required/>
            <span></span>
            <label>Email</label>
          </div>
          <div class="txt_field">
            <input type="password"  name="password" required/>
            <span></span>
            <label>Password</label>
          </div>
          <div class="pass" >Forgot Password?</div>
          <input type="submit" value="Login"/>
          <div class="login_link">
            New User? <a href="../signup/signup.html">Signup</a>
          </div>
        </form>
      </div>
  
      <script src="login.js"></script>
      <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/1.1.3/axios.min.js"></script>
</body>
</html>